.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 48px;
  text-align: center;
  border: 1px solid var(--light-black);
  font-family: var(--font-main);
  font-weight: var(--weight-regular);
  background-color: var(--whitish);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100%;
  color: var(--light-black);

  &:hover,
  &:focus {
    background-color: var(--beige);
  }
    
  &:focus {
    outline: 2px solid var(--green);

  }

  &:active {
    background-color: var(--green);
    color: var(--whitish);
  }

  &:disabled {
    background-color: var(--grey);
    color: var(--beige);
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.large {
  max-width: 345px;
  height: 68px;
  font-size: var(--font-24);
  font-weight: var(--weight-light-x);
  line-height: var(--line-height-32);
}

.medium {
  height: 52px;
  max-width: 312px;
  font-size: var(--font-16);
  line-height: var(--line-height-26);
}

.smallL {
  height: 48px;
  max-width: 264px;
  font-size: var(--font-16);
  line-height: var(--line-height-26);
}

.smallM {
  height: 40px;
  max-width: 236px;
  font-size: var(--font-14);
}

.smallX {
  height: 40px;
  max-width: 148px;
  font-size: var(--font-12);
  padding: 0;
}

.wrap {
  width: fit-content;
  height: fit-content;
  padding: 0;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    background-color: transparent;
  }
    
  &:focus {
    outline: 2px solid var(--green);

  }

  &:active {
    background-color: transparent;

  }
}

.close {
  all: unset;
  cursor: pointer;
  position: absolute;
  inset: 22px 22px auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;

}

.closeIcon {
  width: 14px;
  height: 14px;
}

.transparent {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
  &:hover {
    color: var(--green)
  }   
}

.outline {
  background-color: transparent;
}

/*
.selectSlim {
  display: flex;
  height: 40px;
  width: 148px;
  font-size: var(--font-14);
  font-weight: var(--weight-regular);
  color: var(--light-black);
  padding: 0 12px;
  margin: 0;
  
  &:has(input[type="radio"]:checked) {
    background-color: var(--green);
  }
}

.selectSlimLong {
  width: 264px;
}

.submit {
  height: 40px;
  font-size: var(--font-14);
  font-weight: var(--weight-regular);
}


.short {
  max-width: 263px;
} */
