  
  .titleWrapper {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
  }
  
  .title {
    width: 438px;
    text-wrap: nowrap;
  }
  
  .tagline {
    max-width: 590px;
  }


  @media (max-width: 768px) {

    .titleWrapper {
      flex-flow: column nowrap;
      gap: 12px;
      background-color: var(--beige);
      padding: 32px var(--space-16);
      max-width: 100%;
    }

    .title {
      width: 100%;
      text-wrap: balance;
    }

    .tagline {
      max-width: 100%;
      text-wrap: balance;
    }
  }