.container {
  --space-124: 124px;
  position: relative;
  z-index: 4;
  height: 100vh;
  width: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  overflow-y: hidden;
}

.container::-webkit-scrollbar {
  display: none;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1440px;
}

.sectionStart {
  height: 100%;
  min-width: max-content;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.sectionBenefits {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: 52px 1fr;
  row-gap: clamp(30px, 7dvh, 52px);
  column-gap: 20px;
  padding: 0 var(--space-102);
  padding-top: clamp(90px, 10vh, var(--space-124));
  max-height: 1000px;
  width: auto;
}

.sectionProducts {
  width: 1440px;
  height: 100%;
  padding: 0 var(--space-102);
  padding-top: clamp(90px, 10vh, var(--space-124));
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: linear-gradient(
    to right,
    var(--whitish) calc(100% - 365px),
    var(--beige) 365px
  );
}

.sectionMaterials {
  min-width: 1440px;
  height: 100%;
  padding: 0 var(--space-102);
  padding-top: clamp(84px, 10vh, var(--space-124));
  background: linear-gradient(
    to right,
    var(--beige) 0,
    var(--beige) 325px,
    var(--whitish) 325px,
    var(--whitish) calc(100% - 325px)
  );
}

.sectionProjects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  min-width: 1440px;
  padding: 0 var(--space-102);
  padding-top: clamp(90px, 10vh, var(--space-124));
  gap: 50px;
}

.sectionProcess {
  height: 100%;
  min-width: 1898px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 var(--space-102);
  padding-top: clamp(90px, 10vh, var(--space-124));
}

.sectionStocks {
  display: flex;
  flex-direction: row;
  margin-left: 75px;
  margin-right: 243px;
  gap: 196px;
  height: 100%;
  min-width: 1909px;
}



@media (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    white-space: nowrap;
    overflow-y: auto;
    /* height: auto; */
    padding: var(--space-16);
  }

  .section {
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 68px;
  }

  .sectionStart {
    justify-content: flex-start;
  }

  .sectionBenefits {
    display: flex;
    row-gap: 32px;
    margin: 0 calc(var(--space-16) * -1);
    width: calc(100% + var(--space-16) *2);
  }

  .sectionProducts {
    margin: 0 calc(var(--space-16) * -1);
    width: calc(100% + var(--space-16) *2);
    background: none;
  }

  .sectionMaterials {
    margin: 0 calc(var(--space-16) * -1);
    width: calc(100% + var(--space-16) *2);
    background: none;
  }

  .sectionProjects {
    margin: 0 calc(var(--space-16) * -1);
    width: calc(100% + var(--space-16) *2);
  }

  .sectionStocks {
    gap: 68px;
    margin: 0 calc(var(--space-16) * -1);
    width: calc(100% + var(--space-16) *2);
  }
}
