.dotBtn {
    all: unset;
    display: flex;
    width: max-content;
    height: max-content;
    cursor: pointer;
    color: var(--grey);
}

.dotBtn.active {
    color: var(--black);

}

.dotIcon {
    width: 12px;
    height:2px;
}