
.content {
  --_p-bottom: var(--space-131);
  --_p-left: 487px;
  position: relative;
  padding: var(--space-102) 0;
  padding-bottom: var(--space-131);
  padding-left: var(--_p-left);
  height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: start;
  flex-flow: row nowrap;
}


.content::-webkit-scrollbar {
  display: none;
}

.section {
  position: relative;
  margin-right: var(--space-102);
}

.section.team {
  display: flex;
  gap: var(--space-102);
}

.section.brand {
  margin-right: 0;
}

.slideImage:not(.slideImage.team) {
  height: 100%;
  object-fit: cover;
}


.textContainer {
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 4;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: var(--whitish);
  width: fit-content;
  padding: 0 80px 0 var(--space-102);
  height: calc(100dvh - var(--space-102) - var(--_p-bottom) + 10px);
}


@media (max-height: 610px) {
  .content {
    --_p-bottom: var(--space-102);
  }
}

@media (max-width: 1120px) {
  
  .textContainer {
    padding: 0 var(--space-40);
  }

  .content {
    --_p-left: calc(487px - var(--space-40)*2);
  }
}

@media (max-width: 768px) {

  .content {
    flex-flow: column nowrap;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 0;
    padding-top: 60px;
    overflow: auto;
  }

  .textContainer {
    position: static;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: var(--whitish);
    width: 100%;
    height: auto;
    padding: 0;
  }

}