  .innerContentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 40px;
  }
  
  .titleWrapper {
    max-width: 973px;
    display: flex;
    gap: 40px;
    align-items: flex-start;

  }
  
  .title {
    white-space: nowrap;
  }

  .titleWrapper p {
    text-transform: none;
    white-space: wrap;
  }

  @media (max-width: 768px) {
    .innerContentWrapper {
      height: auto;
    }
    .titleWrapper {
      flex-direction: column;
      gap: 20px;
      padding: 32px var(--space-16);
      background-color: var(--beige);
      max-width: 100%;
      white-space: wrap;
    }

  }