<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
    <h2>Подтвердите адрес электронной почты</h2>
    {% if confirmation %}

      {% if can_confirm %}
        <p>Аккаунт с номером телефона: {{ confirmation.email_address.user }} и email: {{ email }} создан</p>
        <form method="post" action="">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Подтвердить</button>
        </form>
      {% else %}
        <p>Невозможно подтвердить Email: {{ email }} потому, что данный Email уже подтвержден другим пользователем.</p>
      {% endif %}

    {% else %}
      <p>Срок данной ссылки истек или она неправильна.</p>
      <p>Пожалуйста, пройдите по <a href="{% url 'login' %}">ссылке</a>
        для повторной отправки нового подтверждения на почту.</p>
    {% endif %}
</body>
</html>



{##}
{#    {% if confirmation %}#}
{#        {% if can_confirm %}#}
{#            {% element p %}#}
{#                  Please confirm that <a href="mailto:{{ email }}">{{ email }}</a>#}
{#                  is an email address for user {{ confirmation.email_address.user }}.#}
{#            {% endelement %}#}
{#            {% url 'account_confirm_email' confirmation.key as action_url %}#}
{##}
{#            {% element form method="post" action=action_url %}#}
{#                {% slot actions %}#}
{#                    {% csrf_token %}#}
{#                    {{ redirect_field }}#}
{#                    {% element button type="submit" %}#}
{#                        {% trans 'Confirm' %}#}
{#                    {% endelement %}#}
{#                {% endslot %}#}
{#            {% endelement %}#}
{#        {% else %}#}
{#            {% element p %}#}
{#                {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}#}
{#            {% endelement %}#}
{#        {% endif %}#}
{#    {% else %}#}
{#        {% url 'account_email' as email_url %}#}
{#        {% element p %}#}
{#            {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}#}
{#        {% endelement %}#}
{#    {% endif %}#}
