
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>
  <h2>Авторизоваться(custom)</h2>
  Если у вас ещё нет учётной записи, пожалуйста, сначала <a href="{% url 'signup' %}">зарегистрируйтесь</a>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.as_p }}
{#      <p>{{ form.login }}</p>#}
{#      <p>{{ form.password }} <a href="{% url 'password_reset' %}">Забыли Ваш пароль?</a></p>#}
      <input type="submit" value="Войти" />
    </form>
  <hr>
  <p>Войти с помощью</p>
  <p><a href="#">Гугл</a> // <a href="#">ВК</a> // <a href="#">Яндекс</a></p>
  <p>Нет аккаунта?</p>
  <button><a href="{% url 'signup' %}"><h4>Зарегистрироваться</h4></a></button>
</body>


</html>