<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
</head>


<body>
  <h1>Сброс пароля</h1>
    {% if request.user.is_authenticated %}
      <p>Для информации! Вы уже вошли под учетной записью с почтой: <strong>{{ request.user.email }}</strong></p>
      <p>Если забыли свой пароль, введите адрес электронной почты вашей учетной записи:</p>
    {% else %}
      Если забыли свой пароль, введите адрес электронной почты Вашей учетной записи:
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" value="Сбросить пароль" />
    </form>
</body>


</html>