<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Восстановить пароль</title>
</head>


<body>
  <h1>Восстановить пароль</h1>
  <p>Шаг 1 из 3</p>
    {% if request.user.is_authenticated %}
      <p><strong>Заметка</strong>. Вы уже вошли под учетной записью с почтой: <strong>{{ request.user.email }}</strong></p>
      <p>Если забыли свой пароль, введите адрес электронной почты вашей учетной записи:</p>
    {% else %}
      <p>Укажите адрес электронной почты на который будет направленно письмо для сброса пароля</p>
    {% endif %}

    <form method="post" action="">
      {% csrf_token %}
      <p>{{ form.email }}</p>
      <input type="submit" value="Сбросить пароль" />
    </form>
    <p>Уже есть аккаунт? <a href="{% url 'login' %}"><u>Войти</u></a></p>
</body>


</html>