<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

  <h1>Регистрация</h1>
  <p>Шаг 3 из 3</p>
  <p>Мы отправили письмо на адрес указанный при регистрации</p>
  <p>Перейдите по ссылке в письме  для подтверждения своего email.</p>
  <button><h3><a href="{% url 'login' %}">Отправить письмо ещё раз</a></h3></button>
  <p>Если письмо не пришло в течение нескольких минут проверьте папку «Спам» или <a href="#">Свяжитесь с нами(заглушка)</a>.</p>
</body>
</html>