@font-face {
  font-family: "VelaSans";
  src: url(../assets/fonts/VelaSans/Static/Web/VelaSans-Light.woff2)
      format("woff2"),
    url(../assets/fonts/VelaSans/Static/Web/VelaSans-Light.woff) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "VelaSans";
  src: url(../assets/fonts/VelaSans/Static/Web/VelaSans-Medium.woff2)
      format("woff2"),
    url(../assets/fonts/VelaSans/Static/Web/VelaSans-Medium.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "VelaSans";
  src: url(../assets/fonts/VelaSans/Static/Web/VelaSans-Bold.woff2)
      format("woff2"),
    url(../assets/fonts/VelaSans/Static/Web/VelaSans-Bold.woff) format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "VelaSans";
  src: url(../assets/fonts/VelaSans/Static/Web/VelaSans-ExtraBold.woff2)
      format("woff2"),
    url(../assets/fonts/VelaSans/Static/Web/VelaSans-ExtraBold.woff)
      format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "VelaSans";
  src: url(../assets/fonts/VelaSans/Static/Web/VelaSans-SemiBold.woff2)
      format("woff2"),
    url(../assets/fonts/VelaSans/Static/Web/VelaSans-SemiBold.woff)
      format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "VelaSans";
  src: url(../assets/fonts/VelaSans/Static/Web/VelaSans-ExtraLight.woff2)
      format("woff2"),
    url(../assets/fonts/VelaSans/Static/Web/VelaSans-ExtraLight.woff)
      format("woff");
  font-weight: 200;
}

:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --green-color: #769d22;
  --grey-color: #807f7e;
  --light-black: #222222;
  --whitish-color: #fffdfb;
  --beige-color: #e8e9da;
}

html {
  scroll-behavior: smooth;
}

* {
  outline: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  text-decoration-line: none;
}

body {
  overflow: hidden;
  background-color: var(--whitish-color);
}

.container {
  display: flex;

  white-space: nowrap;
}

.page {
  height: 800px;
}

.container::-webkit-scrollbar {
  display: none;
}

.container__page1 {
  font-family: "VelaSans";
  background: url("../assets/images/bgMain.png");
  background-repeat: no-repeat;
  background-position: 100%;
}

.header__nav {
  min-width: 1440px;
  position: fixed;
  left: 0%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1000;
}

.header__logo {
  padding-left: 50px;
}

.header__links {
  margin-left: 10%;
}

.header__links ul {
  display: flex;
  gap: 125px;
}

.header__link a {
  cursor: pointer;
  font-size: 16px;
  color: var(--light-black);
}

.header__link.active a {
  color: var(--green-color);
}

/* main */
.main__heading {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}

.main__heading-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  text-align: end;
  margin-top: 15%;
  margin-left: 11%;
  max-width: 700px;
}

.main__heading h1,
p {
  color: var(--light-black);
  text-transform: uppercase;
}

.main__heading h1 {
  text-align: start !important;
  font-family: "VelaSans";
  font-size: 50px;
  font-weight: 500;
  line-height: 1.3;
}

.main__heading-title h1 span {
  color: var(--green-color);
}

.main__heading-title p {
  width: 403px;
  font-family: "VelaSans";
  margin-top: 5%;
  margin-right: -15%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.main__heading-meeting {
  font-family: "VelaSans";
  font-size: 24px;
  font-weight: 200;
  margin-right: -15%;
  margin-top: 18%;
  border: 1px solid var(--light-black);
  background-color: transparent;
  padding: 17px 35px;
  cursor: pointer;
  transition: border 0.5s ease-in-out;
}

.main__heading-meeting:hover {
  border: 1px solid #769d2269;
}

.main__bottom {
  position: fixed;
  bottom: 16%;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.main__bottom-nav {
  margin-top: 6%;
  margin-left: -11%;
  display: flex;
  align-items: center;
}

.main__bottom-line {
  width: 300px;
  border-top: 1px solid var(--black-color);
}

.main__bottom-line:first-child {
  width: 150px;
}

.main__bottom-line:last-child {
  width: 165px;
}

.main__bottom-svgs {
  margin-left: 1px;
}

.main__bottom-text {
  position: absolute;
  top: 60%;
  width: 100%;
}

.main__bottom-text ul {
  position: relative;
  /* margin-left: -5%; */
  right: 5%;

  /*
  top: 70%;
  left: 5%; */
  display: flex;
  align-items: center;
  gap: 100px;
}

.main__bottom-text-p {
  margin-right: 3.5%;
  width: 150px;
  text-transform: none;
  font-size: 12px;
}
.main__bottom-text-p:nth-child(5) {
  margin-left: 1.3%;
}
.main__bottom-text-p:nth-child(4) {
  padding-left: 1%;
}

.main__bottom-text-p:last-child {
  margin-left: -2%;
}

.main__contact {
  position: fixed;
  right: 0px;
  top: 5%;
  width: 44px;
  height: 141px;
  background-color: var(--light-black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.main__contact h2 {
  text-align: center;
  font-size: 12px;
  color: var(--whitish-color);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: mixed;
  font-weight: 500;
}

/* page2 */
.container__page2 {
  position: relative;
  font-family: "VelaSans";
}

.container__page2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: var(--beige-color);
  z-index: 1;
}

.page2__heading {
  height: 800px;
  min-width: 2428px !important;
  position: absolute;
  z-index: 2;
}
.page2__headings {
  display: flex;
  gap: 5%;
  margin-top: 5%;
  margin-left: 2%;
  align-items: center;
}
.page2__headings h2 {
  font-size: 32px;
}

.page2__headings h2 span {
  color: var(--green-color);
}

.page2__headings p {
  font-size: 16px;
  font-weight: light;
  text-transform: none;
  line-height: 1.3;
}

.page2__privileges {
  height: 80%;
  margin-left: 2%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.page2__privilege {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

.page2__privilege h1 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  font-size: 16px;
  font-weight: bold;
}

.page2__privilege p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  font-size: 14px;
  line-height: 1.3;
  text-transform: none;
  font-weight: 300;
  margin-bottom: 10px;
}

.page2__privilege:first-child,
.page2__privilege:nth-child(2),
.page2__privilege:nth-child(3) {
  width: 366px;
}

.page2__privilege:nth-child(4) {
  width: 300px;
}

.page2__privilege:nth-child(5) {
  width: 346px;
}

.page2__privilege:nth-child(6) {
  width: 300px;
}

.page2__privilege:last-child {
  justify-self: flex-start;
}

.page2__privilege:last-child {
  margin-bottom: auto;
}

/* page3 */
.container__page3 {
  position: relative;
  font-family: "VelaSans";
}

.container__page3::after {
  content: "";
  position: absolute;
  top: 0;
  right: -16%;
  width: 43%;
  height: 100%;
  background-color: var(--beige-color);
  z-index: 1;
}

.page3__heading {
  min-width: 1440px !important;
  position: relative;
  left: 22%;
  z-index: 2;
}

.page3__title {
  max-width: 973px;
  display: flex;
  gap: 5%;
  /* margin-top: 7%; */
  align-items: center;
}

.page3__title h2 {
  font-size: 32px;
}

.page3__title p {
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  line-height: 1.3;
}

.page3__examples {
  margin-top: 5%;
  margin-left: 20%;
  display: flex;
  gap: 35px;
}

.page3__example {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.page3__example h3 {
  font-weight: 500;
}

.page3__materials {
  position: absolute;
  right: 15%;
  top: 0;
  display: flex;
  flex-direction: column;
}

.page3__materials h2 {
  font-weight: 400;
  font-size: 32px;
  margin-left: 30%;
}

.page3__list {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 25px;
  margin-top: 80%;
}

.page3__list-material {
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
}

.page3__list-material.active {
  color: var(--green-color);
}

/* page4 */
.container__page4 {
  margin-left: 5%;
  font-family: "VelaSans";
}

/* .container__page4::after {
  content: "";
  position: absolute;
  top: 0;
  right: -33%;
  width: 60%;
  height: 100%;
  background-color: var(--beige-color);
  z-index: 1;
} */

.page4__heading {
  min-width: 1440px !important;
  height: 800px;
  position: relative;
  left: 14%;
  z-index: 2;
}

.page4__provider {
  margin-top: 6.5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.page4__provider h3 {
  line-height: 1.4;
  font-size: 16px;
  font-weight: 300;
}

.page4__provider img {
  width: fit-content;
}

.page4__provider-list {
  width: 850px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);

  gap: 25px;
}

.page4__provider-list-element {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page4__provider-list-element h1 {
  font-size: 16px;
  font-weight: 800;
}

.page4__provider-list-element p {
  text-transform: none;
  font-size: 14px;
  font-weight: 300;
}

/* page5 */

.container__page6 {
  margin-left: -20%;
  box-sizing: border-box;
  font-family: "VelaSans";
}

.page6__heading {
  min-width: 1440px;
  margin-top: 5%;

  display: flex;
  flex-direction: column;
}

.page6__heading h2 {
  font-size: 32px;
  font-weight: 400;
}

.page6__heading h2 span {
  color: var(--green-color);
}

.page6__projects {
  margin-top: 5%;
  display: flex;
  gap: 40px;
}

.page6__projects-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.page6__projects-project h1 {
  font-weight: 800;
}

.page6__projects-project p {
  font-size: 14px;
  text-transform: none;
  line-height: 1.3;
  font-weight: 300;
}

.page6__projects-project .page6__3d {
  cursor: pointer;
}

/* page 7 */
.container__page7 {
  margin-left: -25%;

  box-sizing: border-box;
  font-family: "VelaSans";
}

.page7__heading {
  min-width: 1898px;
  margin-top: 6%;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.page7__heading h1 {
  font-size: 32px;
  font-weight: 400;
}

.page7__heading h1 span {
  text-transform: uppercase;
  color: var(--green-color);
}

.page7__process {
  text-align: left;
  display: flex;
  align-items: center;
  margin-top: 8%;
  gap: 20px;
}

.page7__process-step h2 {
  padding: 25px 0;
  color: var(--green-color);
  font-size: 48px;
}

.page7__process-step h3 {
  font-size: 16px;
  font-weight: bold;
}

.page7__process-step p {
  padding: 10px 0;
  line-height: 1.3;
  max-width: 312px;
  font-size: 14px;
  text-transform: none;
}

.page7__process-step:nth-child(odd) {
  margin-top: 5%;
}

.page7__process-step:nth-child(even) {
  margin-top: -4%;
}

.container__page8 {
  margin-left: 25%;

  box-sizing: border-box;
  font-family: "VelaSans";
}

.page8__heading {
  min-width: 1909px;
  height: 800px;
  display: flex;
}

.page8__slider-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.page8__slider {
  height: 800px;
  position: relative;
  width: 836px;
  background-image: url("../assets/images/slide1.png");
}

.page8__slider-info {
  background-color: var(--beige-color);
  width: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 386px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page8__slider-info h2 {
  font-size: 52px;
  font-weight: bold;
  color: var(--green-color);
}

.page8__slider-info h3 {
  font-size: 32px;
}

.page8__slider-info ul {
  margin-top: 15px;
  display: flex;
  gap: 25px;
}

.page8__slider-info ul li {
  font-size: 14px;
  font-weight: 300;
}

.page8__order {
  font-family: "VelaSans";
  margin-top: 25px;
  border: 1px solid var(--black-color);
  background-color: var(--whitish-color);
  padding: 15px 50px;
  font-size: 24px;
  font-weight: 200;
  cursor: pointer;
}

.page8__arrow {
  cursor: pointer;
}

.page8__consulting {
  margin-top: 10%;
  margin-bottom: auto;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.page8__consulting-user {
  max-width: 385px;
}

.page8__consulting h1 {
  font-size: 32px;
}

.page8__consulting p {
  line-height: 1.3;
  font-weight: 300;
  text-transform: none;
  font-size: 14px;
}

.page8__consulting-name {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name,
.number,
.page8__consulting-link {
  border: 1px solid var(--grey-color);
  padding: 10px 15px;
  width: 100%;
}

.page8__consulting-question {
  margin-top: 25px;
}

.page8__consulting-options {
  margin-top: 10px;
  display: flex;
  gap: 50px;
}

.page8__consulting-dates {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}

.page8__consulting-date-question {
  margin-top: 15px;
}

.page8__consulting-link {
  margin-top: 15px;
}

.page8__consulting-dates input {
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid var(--grey-color);
  width: 45%;
}

.page8__consulting-send {
  margin-top: 25px;
  border: 1px solid var(--light-black);
  background-color: transparent;
  color: var(--light-black);
  font-size: 16px;
  padding: 15px 15px;
  width: 100%;
  cursor: pointer;
}
