@font-face {
  font-family: "VelaSans";
  src: url(../assets/fonts/VelaSans/Static/Web/VelaSans-Light.woff2)
      format("woff2"),
    url(../assets/fonts/VelaSans/Static/Web/VelaSans-Light.woff) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "VelaSans";
  src: url(../assets/fonts/VelaSans/Static/Web/VelaSans-Medium.woff2)
      format("woff2"),
    url(../assets/fonts/VelaSans/Static/Web/VelaSans-Medium.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "VelaSans";
  src: url(../assets/fonts/VelaSans/Static/Web/VelaSans-Bold.woff2)
      format("woff2"),
    url(../assets/fonts/VelaSans/Static/Web/VelaSans-Bold.woff) format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "VelaSans";
  src: url(../assets/fonts/VelaSans/Static/Web/VelaSans-ExtraBold.woff2)
      format("woff2"),
    url(../assets/fonts/VelaSans/Static/Web/VelaSans-ExtraBold.woff)
      format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "VelaSans";
  src: url(../assets/fonts/VelaSans/Static/Web/VelaSans-SemiBold.woff2)
      format("woff2"),
    url(../assets/fonts/VelaSans/Static/Web/VelaSans-SemiBold.woff)
      format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "VelaSans";
  src: url(../assets/fonts/VelaSans/Static/Web/VelaSans-ExtraLight.woff2)
      format("woff2"),
    url(../assets/fonts/VelaSans/Static/Web/VelaSans-ExtraLight.woff)
      format("woff");
  font-weight: 200;
}

.container {
  --_main-padding-top: 124px;
  height: 100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  /* gap: 2%; */
  white-space: nowrap;
}

.container::-webkit-scrollbar {
  display: none;
}

.container__page1 {
  height: 100%;
  min-width: 1440px;
  display: flex;
  flex-wrap: nowrap;
  font-family: "VelaSans";
  background: url("../assets/images/bgMain.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-position-y: top;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 1440px;
  height: auto;
  position: fixed;
  left: 0%;
  top: 20px;
  z-index: 1000;
  padding: 0 var(--padding-102);
}

.header__logo {
  width: 226px;
  height: 26px;
}

.header__nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 610px;
}

.header__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* max-width: calc(710px + 109px + 168px); */
}

.header__sign-in {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  min-width: 226px;
}

.header__link.active a {
  color: var(--green);
}

/* popup */
.main__blackout {
  background: #0000006b;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* display: none; */
}

/* .main__blackout :target {
  display: block;
}

.main__popup {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 994px;
  height: 664px;
  background-color: var(--whitish);
}

.main__popup-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  text-align: center;
}

.main__popup-cards {
  height: 450px;
  margin-top: 50px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  text-align: center;
  row-gap: 48px;
  column-gap: 48px;
}

.main__popup-card p {
  text-transform: none;
  font-size: 14px;
  margin-top: 10px;
}

.main__popup-bottom {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.main__popup-text {
  position: relative;
  left: 5.5%;
  margin-top: -3%;
}

.main__popup-text ul {
  display: flex;

  gap: 86px;
}

.main__popup-text ul li {
  color: #00000069;
  font-size: 12px;
}

.main__popup-nav {
  position: fixed;
  bottom: 5.5%;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.main__popup-nav svg {
  cursor: pointer;
  fill: var(--whitish);
}

.main__popup-line {
  position: relative;
  width: 100%;
  border-top: 1px solid var(--light-black);
}

.main__popup-header {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.main__popup-header i {
  cursor: pointer;
  justify-self: end;
} */
/* main */
.main__heading {
  width: fit-content;
  padding-top: 15%;
  margin-left: 11%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main__heading-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;

  max-width: 700px;
}

.main__heading h1,
p {
  color: var(--light-black);
  text-transform: uppercase;
}

.main__heading h1 {
  text-align: start !important;
  font-family: "VelaSans";
  font-size: 50px;
  font-weight: 500;
  line-height: 1.3;
}

.main__heading-title h1 span {
  color: var(--green);
}

.main__heading-title p {
  width: 403px;
  font-family: "VelaSans";
  margin-top: 5%;
  margin-right: -15%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.main__heading-meeting {
  font-family: "VelaSans";
  font-size: 24px;
  font-weight: 200;
  margin-right: -15%;
  margin-top: 18%;
  border: 1px solid var(--light-black);
  background-color: transparent;
  padding: 17px 35px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.main__heading-meeting:hover {
  background-color: var(--beige);
}

.main__heading-meeting:focus {
  background-color: var(--green);
}

.main__bottom {
  position: fixed;
  bottom: 16%;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.main__bottom-nav {
  margin-top: 6%;
  margin-left: -11%;
  display: flex;
  align-items: center;
}

.main__bottom-svgs {
  cursor: pointer;
}

.main__bottom-line {
  width: 300px;
  border-top: 1px solid var(--black);
}

.main__bottom-line:first-child {
  width: 150px;
}

.main__bottom-line:last-child {
  width: 165px;
}

.main__bottom-svgs {
  margin-left: 1px;
}

.main__bottom-text {
  position: absolute;
  top: 60%;
  width: 100%;
}

.main__bottom-text ul {
  position: relative;
  right: 5%;
  display: flex;
  align-items: center;
  gap: 100px;
}

.main__bottom-text-p {
  margin-right: 3.5%;
  width: 150px;
  text-transform: none;
  font-size: 12px;
}

.main__bottom-text-p a {
  color: var(--light-black);
}

.main__bottom-svgs {
  fill: var(--whitish);
}

.main__contact {
  position: fixed;
  right: 0px;
  top: 5%;
  width: 44px;
  height: 141px;
  background-color: var(--light-black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}

.clicked {
  position: fixed;
  right: 0px;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  width: 102px;
  height: 100vh;
  transition: all 0.5s ease-in-out;
  z-index: 10000;
}

.main__contact-arrow {
  display: none;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-right: -42px;
}

.main__contact-links {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  height: 340px;
  justify-content: space-between;
}

.main__contact-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.main__contact-link p {
  text-transform: none;
  font-size: 12px;
  font-weight: 200;
  color: var(--whitish);
  line-height: 16px;
}

.clicked h2 {
  display: none;
}

.main__contact h2,
.main__contact-arrow h1 {
  text-align: center;
  font-size: 12px;
  color: var(--whitish);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: mixed;
  font-weight: 500;
}

/* page2 */
.container__page2 {
  height: 100%;
  min-width: 2428px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "VelaSans";
}

/* .container__page2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: var(--beige);
  z-index: 1;
} */

.page2__heading {
  position: relative;
  display: flex;
  flex-direction: column;
}
.page2__headings {
  top: 13%;
  position: absolute;
  display: flex;
  gap: 5%;
  margin-left: 2%;
  align-items: center;
}
.page2__headings h2 {
  font-size: 32px;
}

.page2__headings h2 span {
  color: var(--green);
}

.page2__headings p {
  font-size: 16px;
  font-weight: light;
  text-transform: none;
  line-height: 1.3;
}

.page2__privileges {
  height: 756px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.page2__privilege {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

.page2__privilege h1 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  font-size: 16px;
  font-weight: bold;
}

.page2__privilege p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  font-size: 14px;
  line-height: 1.3;
  text-transform: none;
  font-weight: 300;
  margin-bottom: 10px;
}

.page2__privilege:first-child,
.page2__privilege:nth-child(2),
.page2__privilege:nth-child(3) {
  width: 366px;
}

.page2__privilege:first-child {
  align-self: flex-end;
}

.page2__privilege:nth-child(3) {
  margin-top: 9%;
  align-self: center;
}

.page2__privilege:nth-child(4) {
  width: 300px;
  margin-bottom: 5%;
}

.page2__privilege:nth-child(5) {
  margin-top: 8%;
  width: 346px;
}

.page2__privilege:nth-child(6) {
  width: 300px;
}

.page2__privilege:last-child {
  justify-self: flex-start;
}

.page2__privilege:last-child {
  align-self: flex-start;
}

/* page3 */

.container__page3 {
  width: 1440px;
  height: 100%;
  padding: 0 var(--padding-102);
  padding-top: var(--_main-padding-top);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: "VelaSans";

  z-index: 100;

  background: linear-gradient(
    to right,
    var(--whitish) calc(100% - 365px),
    var(--beige) 365px
  );
}

.page3__inner-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 40px;
}

.page3__title {
  max-width: 973px;
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.page3__title h2 {
  font-size: 32px;
}

.page3__title p {
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  line-height: 1.3;
}

.page3__slider-outer-container {
  transform: translateX(calc(var(--padding-102) * -1));
  display: flex;
  width: 1440px;
  height: 100%;
  max-height: 380px;
  overflow: hidden;
}

.page3__slider-inner-container {
  display: flex;
  flex-flow: row;
  height: 100%;
  max-height: 380px;
  gap: 40px;
  transform: translateX(493px);
}

.page3__example {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 466px;
  height: 380px;
}

.page3__img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page3__img-wrapper > img {
  height: auto;
  width: 100%;
  object-fit: cover;
  scale: 1;
  transition: scale 1s ease-in-out;
}

.page3__img-wrapper:hover > img {
  scale: 1.1;
}

.page3__example h3 {
  font-weight: 500;
}

/* page4 */

.container__page4 {
  min-width: 1440px;
  height: 100%;

  font-family: "VelaSans";
  padding: 0 var(--padding-102);
  padding-top: var(--_main-padding-top);
  background: linear-gradient(
    to right,
    var(--beige) 0,
    var(--beige) 325px,
    var(--whitish) 325px,
    var(--whitish) calc(100% - 325px)
  );
}

.page4__materials {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--beige-color);
  top: 0;
  right: 92%;
  z-index: 0;
}

.page4__innerWrapper {
  padding: 10px 35px;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  justify-content: end;
}

.page4__materials h2 {
  font-weight: 400;
  font-size: 32px;
  margin-left: 30%;
}

.page4__list {
  cursor: pointer;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 25px;
}

.page4__list-material {
  font-size: 16px;
  font-weight: 800;
}

.page4__list-material.active {
  color: var(--green-color);
}

.page4__heading {
  margin-top: 5%;
}
.page4__inner-container {
  display: grid;
  grid-template-columns: 223px 1fr;
  grid-template-rows: 78px max-content auto;
  gap: 40px;
}

.page4__heading {
  grid-column: 1/2;
  grid-row: 1/2;
}

.page4__slider-controls {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 121px;
  height: 140px;
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 20px;
}

.page4__slider-btn {
  all: unset;
  cursor: pointer;
}

.page4__slider-btn.active {
  color: var(--green);
}

.page4__text {
  grid-column: 2/3;
  grid-row: 1/2;
  text-transform: none;
}

.page4__slide-txt-block {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.page4__slide-txt-block-list {
  width: 850px;
  visibility: hidden;
  opacity: 0;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.page4__image-container {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 973px;
  height: 180px;
  overflow: hidden;
}

.page4__image {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  height: 0px;
  transform: translateY(-10px);
  animation: slide-up-down 10s linear infinite;
  object-fit: cover;
  transition: height 0s, visibility 0s, opacity 0.5s ease-in-out;
}

.page4__image.active,
.page4__slide-txt-block-list.active {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.page4__slide-txt-block h3 {
  line-height: 1.4;
  font-size: 16px;
  font-weight: 300;
}

@keyframes slide-up-down {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.page4__image,
.page4__slide-txt-block-list {
  /* display: none; */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.page4__image.active,
.page4__slide-txt-block-list.active {
  display: grid;
  opacity: 1;
}

.page4__slide-txt-block h3 {
  line-height: 1.4;
  font-size: 16px;
  font-weight: 300;
}

.page4__slide-txt-block-list-element {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page4__slide-txt-block-list-element h1 {
  font-size: 16px;
  font-weight: 800;
}

.page4__slide-txt-block-list-element p {
  text-transform: none;
  font-size: 14px;
  font-weight: 300;
}

/* page5 */

.container__page6 {
  height: 100%;
  min-width: 1440px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  font-family: "VelaSans";
}

.page6__heading {
  min-width: 1440px;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
}

.page6__heading h2 {
  font-size: 32px;
  font-weight: 400;
}

.page6__heading h2 span {
  color: var(--green);
}

.page6__projects {
  margin-top: 5%;
  display: flex;
  gap: 40px;
}

.page6__projects-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.page6__projects-project h1 {
  font-weight: 800;
}

.page6__projects-project p {
  font-size: 14px;
  text-transform: none;
  line-height: 1.3;
  font-weight: 300;
}

.page6__projects-project .page6__3d {
  cursor: pointer;
}

/* page 7 */
.container__page7 {
  height: 100%;
  min-width: 1898px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  font-family: "VelaSans";
}

.page7__heading {
  margin-top: 6%;

  display: flex;
  flex-direction: column;
}

.page7__heading h1 {
  font-size: 32px;
  font-weight: 400;
}

.page7__heading h1 span {
  text-transform: uppercase;
  color: var(--green);
}

.page7__process {
  height: 280px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 8%;
  gap: 20px;
}

.page7__process-step h2 {
  padding: 25px 0;
  color: var(--green);
  font-size: 48px;
}

.page7__process-step h3 {
  font-size: 16px;
  font-weight: bold;
}

.page7__process-step p {
  padding: 10px 0;
  line-height: 1.3;
  max-width: 312px;
  font-size: 14px;
  text-transform: none;
}

.page7__process-step:nth-child(even) {
  align-self: flex-start;
}
.page7__process-step:nth-child(odd) {
  align-self: flex-end;
}
/* 


} */

.container__page8 {
  height: 100%;
  box-sizing: border-box;
  font-family: "VelaSans";
}

.page8__heading {
  min-width: 1169px;
  min-height: auto;
  display: flex;
}

.page8__slider-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.page8__slider {
  height: 800px;
  position: relative;
  width: 836px;
  background-image: url("../assets/images/slide1.png");
}

.page8__slider-info {
  background-color: var(--beige);
  width: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 386px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page8__slider-info h2 {
  font-size: 52px;
  font-weight: bold;
  color: var(--green);
}

.page8__slider-info h3 {
  font-size: 32px;
}

.page8__slider-info ul {
  margin-top: 15px;
  display: flex;
  gap: 25px;
}

.page8__slider-info ul li {
  font-size: 14px;
  font-weight: 300;
}

.page8__order {
  font-family: "VelaSans";
  margin-top: 25px;
  border: 1px solid var(--black);
  background-color: var(--whitish);
  padding: 15px 50px;
  font-size: 24px;
  font-weight: 200;
  cursor: pointer;
}

.page8__arrow {
  cursor: pointer;
}
/* page 9 */
.container__page9 {
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  font-family: "VelaSans";
}

.page9__heading {
  min-width: 1220px;
  min-height: auto;
  display: flex;
}
.page9__consulting {
  padding-right: 10%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.page9__consulting-user {
  max-width: 385px;
}

.page9__consulting h1 {
  font-size: 32px;
}

.page9__consulting p {
  line-height: 1.3;
  font-weight: 300;
  text-transform: none;
  font-size: 14px;
}

.page9__consulting-name {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name,
.number,
.page9__consulting-link {
  border: 1px solid var(--grey-color);
}
.page8__consulting-link {
  border: 1px solid var(--grey);

  padding: 10px 15px;
  width: 100%;
}

.page9__consulting-question {
  margin-top: 25px;
}

.page9__consulting-options {
  margin-top: 10px;
  display: flex;
  gap: 50px;
}

.page9__consulting-dates {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}

.page9__consulting-date-question {
  margin-top: 15px;
}

.page9__consulting-link {
  margin-top: 15px;
}

.page8__consulting-dates input {
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid var(--grey);
  width: 45%;
}

.page9__consulting-send {
  margin-top: 25px;
  border: 1px solid var(--light-black);
  background-color: transparent;
  color: var(--light-black);
  font-size: 16px;
  padding: 15px 15px;
  width: 100%;
  cursor: pointer;
}
