
.contentOuterWrapper {
    width: fit-content;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: clamp(90px, 10vh, var(--padding-102));
  }
  
  .contentInnerWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: auto;
    height: 100%;
    max-height: 392px;
    margin-left: var(--padding-102);
    margin-right: 162px;
    margin-bottom: 186px;
  }
  
  .title,
  .tagline {
    text-transform: uppercase;
  }
  
  .title {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    column-gap: 6px;
    width: 608px;
    max-width: 608px;
    margin-bottom: 40px;
    margin-right: 20px;
  }
  
  .tagline {
    width: 100%;
    max-width: 403px;
    text-align: right;
    margin-bottom: 14px;
  }
  
  .button {
    margin-top: auto;
  }