.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  padding-top: 90px;
  position: relative;
  gap: 40px;
  height: 100dvh;
  width: 100vw;
}

.sidenav {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding-top: 119px;
  width: 223px;
}

.links {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 21px;
  justify-content: center;
  align-items: start;
}

.content {
  grid-column: 2/3;
  overflow: hidden;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 16px;
    gap: 0;
  }

  .sidenav {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 60px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    padding-left: 120px;
    background-color: var(--whitish);
    overflow: hidden;
    z-index: 9;
  }

  .links {
    flex-direction: row;
    justify-content: start;
    gap: 16px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .links::-webkit-scrollbar {
    display: none;
  }

  .content {
    overflow: auto;
  }
  
  .content::-webkit-scrollbar {
    display: none;
  }
}
