.slideTxtBlockList {
    width: 850px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.slideTxtBlockListElement {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detailTitle {
    font-size: var( --font-16);
    font-weight: var(--weight-bold-x);
    line-height: var(--line-height-20);
}

.slideTxtBlockListElement p {
    text-transform: none;
    font-size: 14px;
    font-weight: 300;
}

@media (max-width: 768px) {
    .slideTxtBlockList {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 20px;
        white-space: wrap;
    }
}