.slideTxtBlockList {
    width: 850px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.slideTxtBlockListElement {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 768px) {
    .slideTxtBlockList {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 20px;
        white-space: wrap;
    }
}