/**

 * HEADER

 */

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100vw;
    /* max-width: 1440px; */
    height: auto;
    position: fixed;
    left: 0%;
    top: 20px;
    z-index: 1000;
    padding: 0 var(--padding-102);
  }
  
  .header__logo {
    width: 226px;
    height: 26px;
  }
  
  .header__nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 610px;
    max-width: 934px;
    margin-left: auto;
  }
  
  .header__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .header__link {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    mix-blend-mode: difference;
  }
  
  .header__link.active {
    color: var(--green);
  }
  
  .header__link:hover {
    opacity: 0.7;
  }
  
  .header__sign-in {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    min-width: 226px;
  }

  /*

slide-out side menu

 */

.side-menu-contact {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    right: 0;
    width: var(--padding-102);
    height: 100vh;
    background-color: var(--light-black);
    transition: transform 0.5s ease-in-out;
    transform: translateX(102px);
    z-index: 100;
  }
  
  .side-menu-contact__button {
    position: fixed;
    right: 0;
    top: 90px;
    width: 73px;
    height: 141px;
    background-color: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    transform: rotate(180deg) translateX(66px);
    text-align: center;
    font-size: 12px;
    color: var(--whitish);
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-weight: 500;
    transition: transform 0.5s ease-in-out; 
  }
  
  .side-menu-contact__pointer {
    transform: rotate(180deg);
  }
  
  .side-menu-contact__hidden-input {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
  }
  
  .side-menu-contact:has(.side-menu-contact__hidden-input:checked) {
    transform: translateX(0);
  }
  
  .side-menu-contact__button:has(.side-menu-contact__hidden-input:checked) {
    transform: rotate(180deg) translateX(0px);
  }
  
  .side-menu-contact__links {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 340px;
    justify-content: space-between;
    margin-top: clamp(27px, 40vh, 338px);
    margin-bottom: clamp(45px, 20vh, 90px);
  }
  
  .side-menu-contact__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    transition: opacity 0.2s ease-in-out;
  }
  
  .side-menu-contact__link:hover {
    opacity: 0.7;
  }
  
  .side-menu-contact__link-text {
    text-transform: none;
    font-family: var(--font-main);
    font-size: var(--font-12);
    font-weight: var(--weight-light-x);
    line-height: var(--line-height-16);
    color: var(--beige);
  }