{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Istok - Готовая мебель</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static './favicon_io/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static './favicon_io/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static './favicon_io/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static './favicon_io/site.webmanifest' %}" />
    <link rel="stylesheet" href="{% static './src/css/card.css' %}" />
    <link rel="stylesheet" href="{% static './src/css/fonts.css' %}" />
    <link rel="stylesheet" href="{% static './src/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static './src/css/furniture.css' %}" />
    <link rel="stylesheet" href="{% static './src/css/buttons.css' %}" />
    <link rel="stylesheet" href="{% static './src/css/global.css' %}" />
    <link rel="stylesheet" href="{% static './src/css/base-elements.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.4.0/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />
  </head>
  <body>
    <header class="header">
      <a href="{% url 'home' %}">
        <svg alt="logo" class="header__logo">
          <use
            href="{% static './src/assets/images/interface/icons-sprite-sheet.svg' %}#logo"
          ></use>
        </svg>
      </a>
      <nav class="header__nav">
        <ul class="header__links">
          <li>
            <a class="header__link font-body-1" href="{% url 'home' %}"
              >Главная</a
            >
          </li>
          <li class="header__link font-body-1">
            <a class="header__link font-body-1 active" href="{% url 'finished_furniture_list' %}"
              >Готовая мебель</a
            >
          </li>
          <li class="header__link font-body-1">
            <a class="header__link font-body-1" href="{% url 'about' %}"
            >О нас</a>
          </li>
          <li class="header__link font-body-1">
            <a
              class="header__link font-body-1"
              href="{% url 'application_create' %}"
              >Оставить заявку</a
            >
          </li>
            <li class="header__link font-body-1">
              <a
                class="header__link font-body-1 header__sign-in"
                href="{% url 'profile' %}"
                >Войти в личный кабинет</a
              >
            </li>
        </ul>
      </nav>
    </header>
    <main class="main__product-container container">
      <section class="main__product">
        <h1>
          <img
            src="{% static './src/assets/images/interface/arrowCard.svg' %}"
            alt="arrowCard"
          />
          Назад
        </h1>
        <div class="main__product-wrapper">
          <div class="main__product-pic">
            <div class="main__product-image">
              <img
                src="{{ finished_furniture_detail.image_1.url }}"
                alt="product"
                width="600"
                height="400"

              />
              <div class="main__product-image-lines lines">
                <svg
                  class="main__product-image-line line active"
                  width="12"
                  height="3"
                  viewBox="0 0 12 3"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    width="12"
                    height="2"
                    transform="translate(0 0.25)"
                    fill="black"
                  /></svg
                ><svg
                  class="main__product-image-line line"
                  width="12"
                  height="3"
                  viewBox="0 0 12 3"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    width="12"
                    height="2"
                    transform="translate(0 0.25)"
                    fill="black"
                    fill-opacity="0.5"
                  />
                </svg>
              </div>
            </div>
            <button class="main__product-btn button">
              Посмотреть 3D проект
            </button>
          </div>
          <div class="main__product-info">
            <div class="main__product-detail">
              <h2 class="font-heading-bold-32">{{ finished_furniture_detail.name }}</h2>
              <div class="main__product-tags tags">
                {% for tag in finished_furniture_detail.tags.all %}
                  <p class="main__card-tag tag main font-body-4">{{ tag.tag }}</p>
                {% endfor %}
              </div>
              <div class="main__product-description">
                <p class="font-body-2">
                  Размеры:
                </p>
                <p class="font-body-2">
                  Материалы:
                </p>
                <p class="font-body-2">
                  Наполнение:
                </p>
              </div>
              <div class="main__product-order">
                <h3 class="font-heading-bold-32">{{ finished_furniture_detail.price }} ₽</h3>

                <a href="{% url 'application_create' %}" class="main__product-order-btn button">
                    Заказать проект
                </a>

              </div>
            </div>
<!--            <div class="main__product-liked">-->
<!--              <p>Вам может понравится:</p>-->
<!--              <div class="main__product-liked-cards">-->
<!--                &lt;!&ndash; Шаблон мини карточки &ndash;&gt;-->
<!--                <div class="main__product-liked-card">-->
<!--                  <img src="" alt="card" />-->
<!--                  <h4 class="font-body-3">-->
<!--                    Кухня “Зелень” <br />-->
<!--                    386 698 ₽-->
<!--                  </h4>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
