<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование карточки готовой мебели</title>
</head>
<body>
    <h1>Редактирование карточки готовой мебели</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit">Сохранить</button>
        <button type="submit" name="delete" onclick="return confirm('Вы уверены, что хотите удалить эту карточку?')">Удалить карточку</button>
    </form>
</body>
</html>