{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="{% static './src/css/style.css' %}" />
    <link rel="stylesheet" href="{% static './src/css/reset.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="container__page1 page">
        <header class="header">
          <div class="header__nav">
            <img
              src="{% static './src/assets/images/logo.png' %}"
              alt="logo"
              class="header__logo"
            />
            <div class="header__links">
              <ul>
                <li class="header__link"><a href="{% url 'home' %}">Главная</a></li>
                <li class="header__link"><a href="#">Готовая мебель</a></li>
                <li class="header__link"><a href="#">Мебель на заказ</a></li>
                <li class="header__link"><a href="{% url 'about' %}">О нас</a></li>
                <li class="header__link"><a href="{% url 'profile' %}">Личный кабинет</a></li>
              </ul>
            </div>
          </div>
        </header>
        <section class="main__heading">
          <div class="main__heading-title">
            <h1>
              с <span>нами </span>начинается <br />
              уют <span>вышего </span>дома
            </h1>
            <p>
              ПРОИЗВОДСТВО МЕБЕЛИ НА ЗАКАЗ <br />
              В САНКТ-ПЕТЕРБУРГЕ И ЛЕНИНГРАДСКОЙ ОБЛАСТИ
            </p>
            <button class="main__heading-meeting">Записаться на встречу</button>
          </div>

          <div class="main__bottom-text">
            <ul>
              <li class="main__bottom-text-p">Преимущества</li>
              <li class="main__bottom-text-p">Что мы производим</li>
              <li class="main__bottom-text-p">Поставщики</li>
              <li class="main__bottom-text-p">Процесс</li>
              <li class="main__bottom-text-p">Акции</li>
              <li class="main__bottom-text-p">Получить консультацию</li>
            </ul>
          </div>
          <div class="main__bottom-nav">
            <div class="main__bottom-line"></div>
            <svg
              class="main__bottom-svgs"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="10" cy="10" r="9.5" stroke="black" />
            </svg>
            <div class="main__bottom-line"></div>
            <svg
              class="main__bottom-svgs"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="10" cy="10" r="9.5" stroke="black" />
            </svg>
            <div class="main__bottom-line"></div>
            <svg
              class="main__bottom-svgs"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="10" cy="10" r="9.5" stroke="black" />
            </svg>
            <div class="main__bottom-line"></div>
            <svg
              class="main__bottom-svgs"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="10" cy="10" r="9.5" stroke="black" />
            </svg>
            <div class="main__bottom-line"></div>
            <svg
              class="main__bottom-svgs"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="10" cy="10" r="9.5" stroke="black" />
            </svg>
            <div class="main__bottom-line"></div>
            <svg
              class="main__bottom-svgs"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="10" cy="10" r="9.5" stroke="black" />
            </svg>
            <div class="main__bottom-line"></div>
          </div>
        </section>
      </div>
      <div class="container__page2 page">
        <section class="page2__heading">
          <div class="page2__headings">
            <h2>Почему выбирают <span>ИСТОК</span>?</h2>
            <p>
              Наша команда ежедневно усердно трудится, <br />
              чтобы предоставить вам лучший продукт и сервис!
            </p>
          </div>
          <div class="page2__privileges">
            <div class="page2__privilege">
              <h1>Высокое качество</h1>
              <p>
                Мы производим мебель на промышленном оборудовании, поэтому
                гарантируем высокое <br />
                качество изделий по разумной цене.
              </p>
              <img src="{% static './src/assets/images/privilege1.png' %}" alt="privilege1" />
            </div>
            <div class="page2__privilege">
              <img src="{% static './src/assets/images/privilege2.png' %}" alt="privilege2" />
              <h1>10 лет гарантии!</h1>
              <p>
                Мы уверены в качестве нашей мебели и предлагаем вам невероятные
                10 лет гарантии на все изделия. Это означает, что вы сможете
                наслаждаться комфортом и функциональностью нашей мебели долгие
                годы, зная, что мы всегда рядом и готовы помочь.
              </p>
            </div>
            <div class="page2__privilege">
              <h1>Взаимодействие с мебелью во время проектирования</h1>
              <p>
                Интерактивная модель в мобильном приложение и/или в масштабе 1:1
                в VR гарнитуре при встрече. Отслеживание статуса изготовления
                мебели на всех этапах.
              </p>
              <img src="{% static './src/assets/images/privilege3.png' %}" alt="privilege3" />
            </div>
            <div class="page2__privilege">
              <img src="{% static './src/assets/images/privilege4.png' %}" alt="privilege4" />
              <h1>Бесплатный дизайн-проект</h1>
              <p>
                Наши специалисты подскажут, как воплотить в реальность Ваши идеи
                не только стильно, но и эргономично!
              </p>
            </div>
            <div class="page2__privilege">
              <h1>Рассрочка 0-0-6</h1>
              <p>
                Честная рассрочка без переплат и первоначального взноса у
                банков-партнеров.
              </p>
              <img src="{% static './src/assets/images/privilege5.png' %}" alt="privilege5" />
            </div>
            <div class="page2__privilege">
              <img src="{% static './src/assets/images/privilege6.png' %}" alt="privilege6" />
              <h1>Мы всегда рядом</h1>
              <p>
                Наши специалисты готовы прийти вам на помощь в любое время
                суток. Мы всегда на связи.
              </p>
            </div>
          </div>
        </section>
      </div>
      <div class="container__page3 page">
        <section class="page3__heading">
          <div class="page3__title">
            <h2>ЧТО МЫ ПРОИЗВОДИМ</h2>
            <p>
              Мы создаём мебель для любого помещения, потому что у нас нет
              готовых <br />
              модулей. Каждый элемент мебели мы разрабатываем и производим
              <br />
              специально для вас и вашего интерьера.
            </p>
          </div>
          <div class="page3__examples">
            <div class="page3__example">
              <h3 class="page3__example-name">Кухни</h3>
              <img src="{% static './src/assets/images/example1.png' %}" alt="Кухни" />
            </div>
            <div class="page3__example">
              <h3 class="page3__example-name">Системы хранения</h3>
              <img
                src="{% static './src/assets/images/example1.png' %}"
                alt="Системы хранения"
              />
            </div>
          </div>
          <div class="page3__materials">
            <h2>МАТЕРИАЛЫ</h2>
            <ul class="page3__list">
              <li class="page3__list-material">Корпус</li>
              <li class="page3__list-material">Столешницы</li>
              <li class="page3__list-material active">Фасады</li>
              <li class="page3__list-material">Фурнитура</li>
            </ul>
          </div>
        </section>
      </div>
      <div class="container__page4 page">
        <section class="page4__heading">
          <div class="page4__provider">
            <h3>
              Мы в ISTOK очень тщательно подбираем поставщиков для нашей
              продукции. <br />
              Для нас важно, чтобы все товары соответствовали строгим критериям
              отбора, <br />
              включая высокое качество и ЭКОЛОГИЧНОСТЬ.
            </h3>
            <img src="{% static './src/assets/images/provider.png' %}" alt="provider" />
            <div class="page4__provider-list">
              <div class="page4__provider-list-element">
                <h1>ЛДСП</h1>
                <p>Egger</p>
                <p>Nordeco</p>
              </div>
              <div class="page4__provider-list-element">
                <h1>МДФ в пленке ПВХ</h1>
                <p>ТАДЖ</p>
                <p>Adilet</p>
              </div>
              <div class="page4__provider-list-element">
                <h1>МДФ с пластиковым покрытием AGT</h1>
              </div>
              <div class="page4__provider-list-element">
                <h1>МДФ покрытый эмалью</h1>
                <p>Палитры RAL</p>
                <p>Палитры Tikkurila</p>
              </div>
              <div class="page4__provider-list-element">
                <h1>МДФ покрытый нано-пластиком</h1>
                <p>FENIX</p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="container__page6 page">
        <section class="page6__heading">
          <h2>НАШИ <span>ПРОЕКТЫ</span></h2>
          <div class="page6__projects">
            <div class="page6__projects-project">
              <h1>Кухня в квартиру</h1>
              <p>
                Нажмите на изображение, чтобы увидеть <br />
                интерактивную 3D-модель.
              </p>
              <img
                class="page6__3d"
                src="{% static './src/assets/images/kitchen.png' %}"
                alt=""
              />
            </div>
            <div class="page6__projects-project">
              <h1>Шкаф</h1>
              <p>
                Нажмите на изображение, чтобы увидеть <br />
                интерактивную 3D-модель.
              </p>
              <img
                class="page6__3d"
                src="{% static './src/assets/images/board.png' %}"
                alt="board"
              />
            </div>
            <div class="page6__projects-project">
              <h1>Гардероб в спальню</h1>
              <p>
                Нажмите на изображение, чтобы увидеть <br />
                интерактивную 3D-модель.
              </p>
              <img
                class="page6__3d"
                src="{% static './src/assets/images/wardrop.png' %}"
                alt=""
              />
            </div>
          </div>
        </section>
      </div>
      <div class="container__page7 page">
        <section class="page7__heading">
          <h1>
            Уникальный технологический ПРОЦЕСС по запатентованной технологии
          </h1>
          <div class="page7__process">
            <div class="page7__process-step">
              <h2>1.</h2>
              <h3>Онлайн консультация</h3>
              <p>
                Наш специалист свяжется с Вами, поможет сделать выбор и запишет
                на встречу с дизайнером
              </p>
            </div>
            <div class="page7__process-step">
              <h3>Встреча с дизайнером</h3>
              <p>
                Дизайнер привезет с собой материалы,<br />
                спроектирует стильный и эргономичный проект, и оформит Ваш
                заказ.
              </p>
              <h2>2.</h2>
            </div>
            <div class="page7__process-step">
              <h2>3.</h2>
              <h3>Технический замер</h3>
              <p>
                Мы приедет со специализированным оборудованием, замерим каждую
                деталь Вашего помещения.
              </p>
            </div>
            <div class="page7__process-step">
              <h3>Конструирование</h3>
              <p>
                Наши конструктора создадут <br />
                Вашу мебель с нуля. <br />
                Каждый модуль уникален!
              </p>
              <h2>4.</h2>
            </div>
            <div class="page7__process-step">
              <h2>5.</h2>
              <h3>Производство</h3>
              <p>
                Современное промышленное оборудование <br />
                создаст для Вас мебель, соответствующую <br />
                самым высоким стандартам качества.
              </p>
            </div>
            <div class="page7__process-step">
              <h3>Доставка и монтаж</h3>
              <p>
                Наш специалист свяжется <br />
                для согласования даты <br />
                доставки и монтажа.
              </p>
              <h2>6.</h2>
            </div>
            <div class="page7__process-step">
              <h2>7.</h2>
              <h3>Онлайн консультация</h3>
              <p>
                Наш специалист свяжется с Вами, поможет сделать выбор и запишет
                на встречу с дизайнером
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="{% static './output/main.js' %}"></script>
  </body>
</html>

